@font-face {
    font-family: 'pocket_monkregular';
    src: url('../public/fonts/pocketmonk-15ze-webfont.woff') format('woff2'),
         url('../public/fonts/pocketmonk-15ze-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

.App {
  font-family: 'pocket_monkregular';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
