.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  min-width: 400px;
  height: 100vh;
  background-color: #FB1B1B;
  background-image: url('../../../public/option2.jpg');
  background-position: center;
  background-size: cover;
  position: static;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.title {
  color: black;
  font-size: 5rem;
}

.controls {
  display: flex;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-gap: 25px;
  min-width: 325px;
  max-width: 70%;
}